
* {
  font-family: monospace;
  margin: 0.6rem 0;
}

.App {
  max-width: 20rem;
}

.produto {
  max-width: 15rem;
}

.App-logo{
  position: absolute;
  top: 4px;
  right: 1rem;
  width: 3rem;
}

.container_foto {
  display: flex;
  justify-content: center;

  position: relative;
}

p.describe {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #1C1C1C;
}

p.oldValue {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: -0.005em;
  text-decoration-line: line-through;

  color: #B5B5B6;
}

p.value {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: -0.005em;

  color: #DA4B4F;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.ButtonAddi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 240px;
  height: 48px;

  border: none;
  background: #40B25C;
  border-radius: 5px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: -0.005em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.ButtonHover {
  background: #1C6C3E;
}

.ButtonAdd {
  background: #A3F9B9;
  font-weight: 700;
font-size: 16px;
line-height: 24px;

letter-spacing: -0.005em;
text-transform: uppercase;

color: #1C1C1C;
}

.inviseble {
  display: none;
}

